	<!-- /Head -->
    <%- include('./partials/head') %> 
	<!-- /Head -->

<body>
    
    <!-- /Header -->
		
    <% if (logueado) { %>
    <%- include('./partials/headerLogueado')%>
    <% } else { %>
    <%- include('./partials/headerDeslogueado')%>
    <% } %>
    
    <!-- /Header -->

    <main >
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <section id="posts" class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
                    
                    <% for( let i = 0; i < postsViejos.length; i++ ) { %>
                        <article class="post uk-card-default uk-flex uk-flex-column">
                            <div class="info-usuario uk-flex ">
                                <div>
                                    <img src="/images/portadas/<%= postsViejos[i].usuarios.picture %>" alt="" width="35%">
                                </div>
                                <h4><a href="/detail/user/id/<%= postsViejos[i].usuarios.id %>"> <%= postsViejos[i].usuarios.username %> </a></h4>
                                
                            </div>
                            <div class="post-body uk-flex uk-flex-center">
                                <a href="/detail/post/id/<%= postsViejos[i].id %>">
                                    <img src="/images/<%= postsViejos[i].picture %> " alt="">
                                </a>
                            </div>
                            <div class="post-reacciones">
                                <ul class="post-icons uk-flex uk-flex-between">
                                    <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                    </li>
                                    <li><a href="/detail/post/id/<%= postsViejos[i].id %>"><span class="" uk-icon="icon:comments; ratio: 1.3"></span></a>
                                    </li>
                                </ul>
                                <div class="post-pie uk-flex">
                                    <h5 class="uk-width-1-6"><a href="/detail/user/id/<%= postsViejos[i].id %>"> <%= postsViejos[i].usuarios.username %> </a></h5>
                                    <p class="uk-width-5-6"><%= postsViejos[i].caption %></p>
                                </div>
                            </div>
                            <div class="post-comentarios">
                                <h6>Comentarios:</h6>
                                <ul>
                                    <% for( let j = 0; j < postsViejos[i].comentarios.length; j++ ) { %>
                                    <li>
                                        <a href="/detail/user/id/<%= postsViejos[i].id %>"> <%= postsViejos[i].comentarios[j].comentarios1.username %> </a>
                                        <p><%= postsViejos[i].comentarios[j].comentario %></p>
                                    </li>
                                    <a href="/detail/post/id/<%= postsViejos[i].usuarios.id %>">Ver más...</a>
                                    <% } %>
                                </ul>
                            </div>
                        </article>
                    <% } %>

         
        
                </section>

            </div>
        </div>
    </main>

    <!-- /Head -->
    <%- include('./partials/footer') %> 
	<!-- /Head -->


</body>

</html>