	<!-- /Head -->
	<%- include('./partials/head') %>
	<!-- /Head -->

	<body>

	<!-- /Header -->
			
	<% if (logueado) { %>
	<%- include('./partials/headerLogueado')%>
	<% } else { %>
	<%- include('./partials/headerDeslogueado')%>
	<% } %>
	
	<!-- /Header -->

	    <main>
	        <div class="uk-section uk-section-small">
	            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center uk-flex-column">

	                <h2><%=resultado %></h2>
	                <section class="muro uk-flex uk-flex-middle uk-flex-center">
	                    <div class="uk-grid uk-child-width-1-3 uk-width-1-1 uk-margin-remove" uk-grid>
	                        <% for( let i = 0; i < posts.length; i++ ) { %>
	                        <div class="uk-card uk-card-hover uk-card-body uk-flex uk-flex-column uk-flex-middle uk-flex-center ">
								<a href="/detail/user/id/<%= posts[i].usuarios.id%>"><%= posts[i].usuarios.username%></a>
	                            <a href="/detail/post/id/<%=posts[i].id %>" class="link-detalle">
	                                <img src="/images/<%= posts[i].picture %>" alt="foto de perfil" class="foto-perfil">
	                                <h4 class="uk-text-center"><%= posts[i].caption %></h4>
	                            </a>
	                        </div>
	                        <% } %>
	                    </div>
	                </section>
	            </div>
	        </div>
	    </main>


	    <!-- /Head -->
	    <%- include('./partials/footer') %>
	    <!-- /Head -->


	</body>

	</html>